body {
    background-image: url(../images/concrete_seamless.png);
    background-repeat: repeat;
    color: #777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 13px;
}

h1, h3 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

a {
    text-decoration: none;
    color: #777;
}

a:hover {
    color: #4aaaa5;
} 

p {
    line-height: 28px;
    margin-bottom: 15px;
}

input[type='text'], textarea {
    border: 1px solid #ddd;
    color: #777;
    display: inline-block;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 5px 10px;
    margin: 5px 0px 10px 0px;
    width: calc(100% - 20px);
}

textarea {
    height: 150px;
}

button {
    background-color: #4aaaa5;
    border: none;
    color: #fff;
    padding: 5px 20px;
}

#nav {
    background-color: #fff;
    border-bottom: 2px solid #ccc;
    display: block;
    margin-bottom: 25px;
    width: 100%;
}

.nav-content {
    margin: 0 auto;
    width: 960px;
}

.nav-heading {
    background-color: #4aaaa5;
    color: #fff;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    padding: 25px;
    text-align: center;
}

.nav-links {
    color: #ccc;
    float: right;
    padding: 25px 0px;
    text-align: center;
}

.nav-links > li {
    display: inline-block;
    padding: 0px 15px;
}

.nav-links > li + li {
    border-left: 1px solid #ddd;
}

.container {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 0 auto;
    margin-bottom: 100px;
    width: 960px;
}

.content {
    margin: 25px;
}

.content::after {
    content: "";
    display: block;
    clear: both;
}

.heading {
    border-bottom: 2px solid #ddd;
    color: #4aaaa5;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
    margin-bottom: 25px;
}

.headshot {
    float: left;
    margin-right: 25px;
}

.img-thumb {
    height: 200px;
    width: 200px;
}

.portfolio-images {
    margin: 0 auto;
    width: 900px;
}

.portfolio-images > li {
    display: inline-block;
    margin-bottom: 25px;
    margin-right: 10px;
}

.caption {
    position: relative;
    background-color: #4aaaa5;
    color: #fff;
    margin-top: -50px;
    padding: 15px 0px;
    text-align: center;
}

.caption > a {
    color: #fff;
}

.caption > a:hover {
    color: #fff;
}

#footer {
    position: fixed;
    bottom: 0px;
    border-top: 5px solid #4aaaa5;
    background-color: #666;
    color: #ccc;
    padding-top: 20px;
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 980px) {
    .nav-content {
        width: 100%;
    }
    .container {
        width: calc(100% - 25px);
    }
    .portfolio-images {
        width: 100%;
    }  
}

@media screen and (max-width: 768px) {
    .nav-content {
        width: 100%;
    }
    .container {
        width: calc(100% - 25px);
    }
    .portfolio-images {
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    .nav-content {
        width: 100%;
    }
    .container {
        width: calc(100% - 25px);
    }
    .portfolio-images {
        width: 100%;
    }
    .nav-heading, .nav-links {
        display: block;
        float: none;
    }
    .img-thumb {
        width: 100%;
    }
    #footer {
        position: static;
    }
}